:root {
  --bg-color-main: #f8f8f8;
  --bg-color-secondary: #fff;
  --bg-color-custom: #e6e6e6;
  --settings-color: #333333;
  --btn-color: #4caf50;
  --border-color: #ccc;
  --focus-border-color: #4e9af1;
  --message-color: #dcf8c6;
}

body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: var(--bg-color-main);
}

.wrapper {
  max-width: 480px;
  border-radius: 8px;
  margin: 0 auto;
}

.chat {
  position: relative;
  background-color: var(--bg-color-secondary);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: slideIn 0.3s ease-in-out;
}

.chat::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #a7a5a5;
  opacity: 0.3;
  filter: blur(6px);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-custom);
  padding: 10px 12px;
}

.chat-btn {
  padding: 8px 16px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.chat-btn:hover {
  box-shadow: 0 0 1px 1px rgb(185, 184, 184);
}

.chat-btn_settings {
  color: var(--settings-color);
}

.chat-btn_exit {
  color: #d23e3e;
}

.chat__screen-wrapper {
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-screen {
  display: flex;
  flex-direction: column;
}

.chat__screen-wrapper::-webkit-scrollbar {
  width: 8px;
}

.chat__screen-wrapper::-webkit-scrollbar-track {
  background: var(--bg-color-custom);
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.chat__screen-wrapper::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 10px;
  background: linear-gradient(180deg, #777776d3, #b4b2b2c7);
}

.chat-message {
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.message-sender {
  font-weight: bolder;
}

.chat-message_companion {
  align-self: start;
}

.chat-message_user {
  align-self: flex-end;
}

.message-text {
  word-wrap: break-word;
}

.message-time {
  align-self: flex-end;
  font-style: italic;
  font-size: 12px;
  color: #888;
}

.message_sent {
  background-color: var(--message-color);
}

.chat-send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-custom);
  padding: 10px;
}

.chat-send_form {
  display: flex;
  flex-grow: 1;
}

.chat-send_input {
  flex: 1;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.chat-send_input:focus,
.modal-form-input:focus {
  outline: 1px solid #bdbaba;
  box-shadow: 0 0 2px 2px rgba(221, 221, 221, 1);
}

.chat-btn_send {
  height: 40px;
  width: 40px;
  padding: 6px 12px;
  margin-left: 8px;
  font-size: 14px;
  color: var(--bg-color-secondary);
  background-color: var(--btn-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-image: url("../assets/icon-send.svg");
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-btn_send:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.modal {
  min-width: 280px;
  background-color: var(--bg-color-secondary);
  border: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px 8px 0 0;
}

.modal-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.modal-btn_close {
  appearance: none;
  background: transparent url('../assets/icon-close.svg') center/cover no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  padding: 0;
  cursor: pointer;
}

.modal-subtitle {
  font-size: 18px;
  padding: 2px 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px 16px;
}

.modal-form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.modal-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization-btn,
.verification-btn,
.settings-btn {
  padding: 4px 16px;
  margin: 8px;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  color: var(--bg-color-secondary);
  background-color: var(--btn-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.authorization-btn_get {
  font-family: Roboto;
  background-color: var(--btn-color);
}

.authorization-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.invalid-value {
  border: 1px solid red;
  box-shadow: 0 0 2px 2px rgba(221, 221, 221, 1);
}

.valid-value {
  border: 1px solid var(--btn-color);
  box-shadow: 0 0 2px 2px rgba(221, 221, 221, 1);
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 90%;
  }
}